[Odkaz na cvičení](https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs)

In [1]:
import pandas

jmena = pandas.read_csv('../soubory_k_praci/jmena.csv')
s1 = pandas.read_csv('../soubory_k_praci/studenti1.csv')
s2 = pandas.read_csv('../soubory_k_praci/studenti2.csv')

In [3]:
set_studenti = pandas.concat([s1, s2], ignore_index=True)
set_studenti

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [4]:
nestudenti = set_studenti[set_studenti['ročník'].isnull()]
nestudenti.shape

(33, 6)

In [5]:
dalkove_studium = set_studenti[set_studenti['kruh'].isnull()]
dalkove_studium.shape

(27, 6)

In [6]:
s1 = pandas.read_csv("../soubory_k_praci/studenti1.csv").dropna()
s2 = pandas.read_csv("../soubory_k_praci/studenti2.csv").dropna()

In [7]:
prezencni_stud = pandas.concat([s1, s2], ignore_index=True)
prezencni_stud

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
282    Klára     Valentová         správa IT systémů     1.0  11.0      1.10
283    Pavla     Veverková        počítačová grafika     4.0   6.0      2.98
284   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
285   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
286  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[287 rows x 6 columns]

In [17]:

prezencni_obory = prezencni_stud.groupby('obor')['jméno'].count()
# prezencni_obory = prezencni_stud.groupby('obor').size() # -> započítává NaN hodnoty
prezencni_obory # -> nebo zde přidám ['jméno']
# prezencni_obory

obor
informatika a management    49
počítačová grafika          33
softwarové inženýrství      41
správa IT systémů           38
teoretická informatika      47
webové inženýrství          46
číslicová technika          33
Name: jméno, dtype: int64

In [21]:

prezencni_obory = prezencni_stud.groupby('obor')['prospěch'].mean()
# prezencni_obory = prezencni_stud.groupby('obor').agg({'prospěch': ['count', 'mean', 'median', 'max', 'min']})
# prezencni_obory = prezencni_stud.groupby('obor')['prospěch'].describe() # -> předefinovaný typ statistiky
prezencni_obory

obor
informatika a management    2.088980
počítačová grafika          1.971515
softwarové inženýrství      1.960976
správa IT systémů           1.917632
teoretická informatika      2.136809
webové inženýrství          2.079130
číslicová technika          2.047576
Name: prospěch, dtype: float64

In [19]:

prezencni_stud = pandas.merge(prezencni_stud, jmena)
prezencni_stud

,jméno,příjmení,obor,ročník,kruh,prospěch,četnost,věk,pohlaví,svátek,původ
0,Ludmila,Šindlerová,informatika a management,4.0,11.0,2.49,72750,65,ž,16.9,slovanský
1,Ludmila,Dvořáková,číslicová technika,3.0,3.0,2.32,72750,65,ž,16.9,slovanský
2,Ludmila,Sklářová,softwarové inženýrství,5.0,7.0,2.95,72750,65,ž,16.9,slovanský
3,Ludmila,Dorazilová,softwarové inženýrství,2.0,10.0,2.00,72750,65,ž,16.9,slovanský
4,Jan,Pekárek,softwarové inženýrství,1.0,7.0,1.05,293938,40,m,24.6. a 6.7,hebrejský
...,...,...,...,...,...,...,...,...,...,...,...
282,Ondřej,Požár,webové inženýrství,2.0,8.0,1.94,76225,22,m,30.11,řecký
283,Jaromír,Gabriel,počítačová grafika,3.0,8.0,1.38,30984,55,m,24.9,slovanský
284,Denisa,Bílková,teoretická informatika,5.0,5.0,1.03,26299,23,ž,11.9,řecký
285,Pavlína,Filová,číslicová technika,4.0,8.0,2.37,35863,37,ž,31.8,latinský
286,Klára,Valentová,správa IT systémů,1.0,11.0,1.10,39600,22,ž,12.8,latinský

In [11]:

pohlavi = prezencni_stud.groupby('pohlaví')['jméno'].count()
pohlavi

pohlaví
m    117
ž    170
Name: jméno, dtype: int64