In [11]:
# Mám nainstalovaný modul pandas?
import sys
sys.modules.keys()

import pandas
print(pandas.__version__)

## Nebo:
try:
    import pandas
    print("module is installed")
except ModuleNotFoundError:
    print("module is not installed")

1.5.0
module is installed

In [23]:
import pandas
nakupy = pandas.read_csv(R'..\soubory_k_praci\nakupy.csv') #<- "R" pro ignoraci obrácených lomítek
print(nakupy)

    Jméno       Datum               Věc  Částka v korunách
0    Petr  2020-02-05      Prací prášek                399
1   Ondra  2020-02-08              Savo                 80
2    Petr  2020-02-24    Toaletní papír                 65
3   Libor  2020-03-05              Pivo                124
4    Petr  2020-03-18  Pytel na odpadky                 75
5    Míša  2020-03-30  Utěrky na nádobí                130
6   Ondra  2020-04-22    Toaletní papír                120
7    Míša  2020-05-05      Pečící papír                 30
8   Zuzka  2020-06-05              Savo                 80
9   Pavla  2020-06-13             Máslo                 50
10  Ondra  2020-07-25              Káva                300

In [12]:
nakupy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Jméno              11 non-null     object
 1   Datum              11 non-null     object
 2   Věc                11 non-null     object
 3   Částka v korunách  11 non-null     int64
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

In [13]:
# Pokud by nás třeba zajímal jen počet řádků, napíšeme:
pocet_radku = nakupy.shape[0]
print("Moje data mají " + str(pocet_radku) + " řádků.")

Moje data mají 11 řádků.

In [1]:
## Stazeni souboru nakupy.csv
import requests

# requests.packages.urllib3.disable_warnings()

url = R"https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs/excs%3Enabidky/DataAnalyst.csv"
r = requests.get(url, allow_redirects=True, verify=False)
open("DataAnalyst.csv", "wb").write(r.content)

h:\60_Python\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'kodim.cz'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

7573930

In [27]:
import pandas
jobs = pandas.read_csv(R'..\soubory_k_praci\DataAnalyst.csv', index_col=0) #<- "R" pro ignoraci obrácených lomítek; index_col= bez indexu od pandasu
jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [28]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2253 entries, 0 to 2252
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2253 non-null   object
 1   Salary Estimate    2253 non-null   object
 2   Job Description    2253 non-null   object
 3   Rating             2253 non-null   float64
 4   Company Name       2252 non-null   object
 5   Location           2253 non-null   object
 6   Headquarters       2253 non-null   object
 7   Size               2253 non-null   object
 8   Founded            2253 non-null   int64
 9   Type of ownership  2253 non-null   object
 10  Industry           2253 non-null   object
 11  Sector             2253 non-null   object
 12  Revenue            2253 non-null   object
 13  Competitors        2253 non-null   object
 14  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 281.6+ KB

In [29]:
#jobs.columns
list(jobs.columns)
#print(nakupy.iloc[:, 0].unique())

['Job Title',
 'Salary Estimate',
 'Job Description',
 'Rating',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Founded',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors',
 'Easy Apply']

In [35]:
#len(jobs)
jobs.shape#[0]

2253

In [38]:
jobs.iloc[9]# [[9]] vyrobí dataframe

Job Title                                Data Analyst, Merchant Health
Salary Estimate                             $37K-$66K (Glassdoor est.)
Job Description      About Us\n\nRiskified is the AI platform power...
Rating                                                             4.4
Company Name                                            Riskified\n4.4
Location                                                  New York, NY
Headquarters                                              New York, NY
Size                                             501 to 1000 employees
Founded                                                           2013
Type of ownership                                    Company - Private
Industry                                        Research & Development
Sector                                               Business Services
Revenue                                       Unknown / Non-Applicable
Competitors                                           Signifyd, Forter
Easy Apply                                                          -1
Name: 9, dtype: object

In [47]:
jobs.iloc[11:20]
#jobs.iloc[11:20, 5:11]
#jobs.iloc[11:20]['Location']
#jobs.iloc[11:20].Location

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",-1,1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
12,DATA ANALYST,$37K-$66K (Glassdoor est.),Job Summary:\n\nThe Clinical Research Data Ana...,3.7,Montefiore Medical\n3.7,"New York, NY","Bronx, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
13,Senior Data Analyst,$37K-$66K (Glassdoor est.),About Known\n\nKnown is a modern marketing com...,3.0,Known\n3.0,"New York, NY","New York, NY",201 to 500 employees,2004,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1,True
14,Investment Advisory Data Analyst,$37K-$66K (Glassdoor est.),Investment Advisory Compliance Opportunity in ...,3.4,Advisor Group\n3.4,"Jersey City, NJ","Phoenix, AZ",1001 to 5000 employees,2016,Company - Private,Brokerage Services,Finance,$1 to $5 million (USD),-1,-1
15,Sustainability Data Analyst,$37K-$66K (Glassdoor est.),Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions\n3.6,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Building & Personnel Services,Business Services,Unknown / Non-Applicable,-1,-1
16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,2001,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"DoubleClick, Specific Media, Collective",True
17,Clinical Data Analyst,$37K-$66K (Glassdoor est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,Nonprofit Organization,Consulting,Business Services,$25 to $50 million (USD),"KPMG, Accenture, Deloitte",-1
18,DATA PROGRAMMER/ANALYST,$37K-$66K (Glassdoor est.),Company Description\n\nEDUCATION DEVELOPMENT C...,3.9,"Education Development Center, Inc.\n3.9","New York, NY","Waltham, MA",501 to 1000 employees,1958,Nonprofit Organization,Research & Development,Business Services,$100 to $500 million (USD),-1,-1
19,Data Analyst,$37K-$66K (Glassdoor est.),"About Us\n\nAt Teachers Pay Teachers (TpT), we...",4.9,Teachers Pay Teachers\n4.9,"New York, NY","New York, NY",51 to 200 employees,2006,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1